<%= link_to "Chatroom", root_path, class: "item" %>

<div class="right menu">
  <div class="ui dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, data: { turbo_method: :delete }, class: "item" %>
      <% else %>
        <%= link_to "Login", login_path, class: "item" %>
      <% end %>
    </div>
  </div>
</div>
